/* ---------------------------------- Consultorio  -----------------------------
	------------------------------------------------------------------------------- */

    $phone: 380px;
        $small: 450px;
        $medium: 900px;
section.consultorio{
	@include max-width-2;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	margin: 6rem auto 0;
	
	@media (max-width: $breakpoint_3){
		@include grid-parent-1-columns (1fr);
	}
	h3{
		color:$color_blue;
		font-weight: 400;
		@media screen and (max-width: $small) {
			font-size: 26px !important;
			line-height: 33px;
			margin: 0;
			padding: 0;
		}
	}
	h4{
		//color:#EC2462;
		font-weight: bold;
		@media screen and (max-width: $small) {
			font-size: 20px;
		line-height: 33px;
		margin: 0;
		padding: 0;
		}
	}
	.left_content{
		    justify-self: center;
			padding-right:40px;
			@media screen and (max-width: $small) {
				padding-right:0;
            }
	}
	
	.right_content{
		padding-left:40px;
		@media screen and (max-width: $small) {
			padding-left:0px;
		}
	}
	
}
#faq{
	background: $color_light_blue;
	margin: 0 !important;
}
#preguntascentroconciliacion{
	background: $color_light_blue;
	@include max-width;
	margin: 0 auto 6rem;
	h4{
		margin: 0 !important;
	}
}
.wrap-preguntas{
	@include max-width-2;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	@media screen and (max-width: $small) {
			display: block;
		}
}

	



