/* ---------------------------------- header  -----------------------------
	------------------------------------------------------------------------------- */


header{
	@include max-width;
	padding: 0 2rem;
	background: $color_blue;
	border-radius: 0 0 .5rem .5rem;
	
	.first_fold{
		padding: 0 4rem;
		@include display-grid;
		@include grid-parent-2-columns (10rem, 1fr);
		
		@media (max-width: $breakpoint_1){
			padding: 0 0 3rem 0;
		}
		
		nav{
			margin-top: 2rem;
			text-align: right;
			position: relative;
			
			.menu_mobile{
				display: none;
				cursor: pointer;
				@media (max-width: $breakpoint_3_1){
					display: inline-block;
				}
			}
			
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				@media (max-width: $breakpoint_3_1){
					display: none;
				}
				
				li{
					display: inline-block;
					margin-right: 1rem;
					
					&:last-child{
						margin-right: 0;
					}
					
					img{
						display: inline-block;
						margin-right: .5rem;
					}
					
					a{
						text-transform: uppercase;
						@include font_universal (
							$font_family_line_height: 19px,
							$font_family_weight: 300,
							$font_family_size: 15px,
							$font_family_color: $color_white,
							$font_family_letter_spacing: 1px,
							$font_family_group: $font_family_din
						);
						
						&:hover{
							&:after{
								content: "";
								position: absolute;
								background: $color_white;
								width: 100%;
								height: 1px;
							}
						}
			
					}
					
				}
				
			}
			
			.open{
				display: block;
				position: absolute;
				right: 0;
				background: $color_blue;
				z-index: 10;
				padding: 2rem;
				border: 2px solid $color_white;
				border-radius: .2rem;
				min-width: 10rem;
				
				li{
					display: block;
					margin-right: 0;
				}
				
			}
			
		}
		
	}
	
	.second_fold{
		padding: 0 0 3rem 4rem;
		@include display-grid;
		@include grid-parent-2-columns (1fr, 1fr);
		
		@media (max-width: $breakpoint_1){
			padding: 0 0 3rem 0;
		}
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-1-columns (1fr);
		}
		
		>div{
			
			&:first-child{
				margin-top: 3rem;
				
				@media (max-width: $breakpoint_3){
					margin-top: 0rem;
				}
				
				h1{
					word-break: break-word;
					@include font_universal (
						$font_family_line_height: 36px,
						$font_family_weight: 300,
						$font_family_size: 34px,
						$font_family_color: $color_white,
						$font_family_letter_spacing: 1px,
						$font_family_group: $font_acherus_black
					);
					
					@media (max-width: $breakpoint_4){
						font-size: 36px;
						line-height: 39px;
					}
					
					span{
						@include font_universal (
							$font_family_line_height: 36px,
							$font_family_weight: 300,
							$font_family_size: 34px,
							$font_family_color: $color_white,
							$font_family_letter_spacing: 1px,
							$font_family_group: $font_acherus_thin
						);
						
						@media (max-width: $breakpoint_4){
							font-size: 36px;
							line-height: 39px;
						}
					
					}
					
				}
				
			}
			
			&:last-child{
				@include display-grid;
				
				@media (max-width: $breakpoint_3){
					margin-top: 2rem;
				}
				
				img{
					@include grid-child-column (1, 2);
					@include grid-child-row (1, 2);
				}
				
				a{
					place-self: end;
					@include grid-child-column (1, 2);
					@include grid-child-row (1, 2);
				}
				
			}
			
		}
		
	}
	
	.content_header{
		grid-gap: 1rem;
		@include max-width;
		padding: 1rem 0;
		@include display-grid;
		@include grid-parent-3-columns (1fr, 1fr, 0.04fr);
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-2-columns (1fr, 0.04fr);
		}
		
		.txt{
			padding: 5rem 3rem 5rem 0;
			
			@media (max-width: $breakpoint_3){
				padding: 0;
				@include grid-child-column (1, 3);
				@include grid-child-row (1, 2);
			}
			
		}
		
		
		.banner{
			position: relative;
			
			@media (max-width: $breakpoint_3){
				@include grid-child-column (1, 2);
				@include grid-child-row (2, 3);
			}
			
			img{
				position: absolute;
				top: 0;
				left: 0;
				
				@media (max-width: $breakpoint_3){
					position: relative;
				}
			}
			
		}
		
	}
	
}
	



