/* ---------------------------------- banner dudas  -----------------------------
	------------------------------------------------------------------------------- */


section.lo_nuevo{
	text-align: center;
	margin: 3rem auto;
	background: $color_light_blue;
	position: relative;
	padding-bottom: 1rem;
	&:before,
	&:after{
		content: "";
		background-color: #F5F8FF;
		height: 130%;
		position: absolute;
		top: -30%;
		z-index: -1;
	}
	&:before{
		width: 100%;
		left: -50%;
	}
	&:after{
		width: 100%;
		right: -50%;
	}
	
	p{
		margin: auto;
	}
	
	a{
		@include btn-white-2;
		margin: 1rem auto 1rem
	}
	
	.cards_container{
		grid-gap: 2rem;
		margin: 3rem auto;
		padding: 0;
		@include display-grid;
		@include grid-parent-4-columns (1fr, 1fr, 1fr, 1fr);
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-2-columns (1fr, 1fr);
		}
		
		@media (max-width: $breakpoint_4){
			@include grid-parent-1-columns (1fr);
		}
		
		.card{
			text-align: center;
			justify-self: center;
			@include display-grid;
			
			img{
				justify-self: center;
			}
			
			h2{
				max-width: 10rem;
				margin: 1rem auto;
				font-size: 25px;
				line-height: 28px;
				font-weight: 300;
			}
			
			&:nth-child(2){
				
				h2{
					max-width: initial;
				}
				
			}
			
		}
		
	}
	
}
	



