extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Consultorio Jurídico

//- Content page
block content
			
	header.gradient-blue-dark.text-center
		include ./jade/template-parts/nav.jade		
		div.hero.pt-md-5
			div
				h1.mb-5
					|Aquí encontrará la oportunidad para resolver sus inquietudes y conflictos jurídicos de manera gratuita
				div.d-md-flex.justify-content-center
					a.btn-fill-white.me-md-3.mb-4.mb-md-0(href='/consultorio-juridico.html' target='') Consultorio Jurídico
					a.btn-fill-blue(href='/centro-de-conciliacion.html' target='') Centro de conciliacion
			div.mt-md-5.pt-5
				img.m-auto.hero--img(src="../../images/photos/people-hero.png" alt="header-banner")

	include ./jade/template-parts/footer.jade	
		
	
	