footer
	div.first_fold.bg-blue
		img(src='../../images/photos/consultorio-footer.png' alt='Consultorio jurídico')
		
		div.contacto
			h5 Contacto
			p Puede contactarnos por medio de nuestra extensión o nuestro celular, llamando a: Telefono:6489000 ext. 1585 Celular: 3053903206.
			p
				a(href='mailto:consultoriojuridico@unbosque.edu.co' target='_blank') consultoriojurídico@unbosque.edu.co
			p Calle 132 No. 7A – 79 Horario de atención: Lunes a viernes de 8:00am a 1:00pm y de 2:00pm a 5:00pm
			
		div.hablemos
			h5 Hablemos
			p Línea whatsapp
			img(src='../../images/svg/whatsapp-icon.svg' alt='whatsapp')
			a(href='https://wa.me/+573053903206' target='_blank') 3053903206
				
			h5 Síguenos en 
			div.redes
				//- a(href='#' target='_blank')
					img(src='../../images/svg/fb-icon.svg' alt='facebook')
				a(href='https://www.youtube.com/channel/UCf_FpOpq6JLHIucEyZ8GBrg' target='_blank')
					img(src='../../images/svg/yt-icon.svg' alt='youtube')
				//- a(href='#' target='_blank')
					img(src='../../images/svg/tw-icon.svg' alt='twitter')
				
		div.navegacion
			h5 Navegación
			
			ul
				li: a(href='#consultorio' ) Consutorio Jurídico
				li: a(href='#areas' ) Áreas
				//-li: a(href='#' ) Centro de conciliación
				li: a(href='#agendar') Pre-agendar cita
				li: a(href='#' target='') Política de tratamiento de datos
			

	
	div.second_fold
		p.px-3 Vigilada Mineducación. Personería Jurídica otorgada mediante resolución 11153 del 4 de Agosto de 1978.
