div.first_fold
	div.logo
		a(href="/")
			img(src='../../images/svg/logoueb.svg' alt='logo UEB')
		
	nav
		span.menu_mobile: img(src='../../images/svg/menu-mobile.svg' alt='Consultorio menu')
		ul
			li: a(href='/' ) Inicio
			li: a(href='/consultorio-juridico.html' ) Consultorio Jurídico
			li: a(href='/centro-de-conciliacion.html' target='') Centro de Conciliación
			li
				img(src='../../images/svg/phone-icon.svg' alt='Teléfono')
				a(href='https://wa.me/+573053903206' target='_blank') 3053903206
