//- script(src='https://code.jquery.com/jquery-1.12.4.js')
//- script(src='//code.jquery.com/jquery-1.11.0.min.js')
//- script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
//- script(type='text/javascript' src='js/slick.min.js')
//- script(src="js/custom.js")

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js")
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<script src="https://res.cloudinary.com/vsevolodts/raw/upload/v1503371762/timeit.min.js"></script>
<script type="text/javascript">new WOW().init();</script>

script(src="js/custom.js")