/* ------------------------ calculos bootstrap ------------------------
------------------------------------------------------------------------ */
$breakpoint_1: 1199px;
$breakpoint_2: 991px;
$breakpoint_3: 768px;
$breakpoint_3_1: 600px;
$breakpoint_4: 500px;
$breakpoint_5: 400px;

$color_text: #000000;
$color_blue: #0077C8;
$color_blue_dark: #123D93;
$color_rosa_dark: #EC2462;;
$color_rosa_light: #FBEBEF;
$color_white: #ffffff;
$color_light_grey: #E6E6E6;
$color_light_blue: #F5F8FF;




// -----------------------
// font family acherus
// -----------------------
$font_acherus_black: 'acherus_grotesqueblack'; // black
$font_acherus_black_italic: 'acherus_grotesqueblack_italic'; // black light
$font_acherus_bold: 'acherus_grotesquebold'; // bold
$font_acherus_bold_italic: 'acherus_grotesquebold_italic'; // bold italic
$font_acherus_extrabold: 'acherus_grotesqueextrabold'; // extrabold
$font_acherus_extrabold_italic: 'acherus_grotesqueXBdIt'; // extrabold italic
$font_acherus_regular_italic: 'acherus_grotesqueRgIt'; // regular italic
$font_acherus_light: 'acherus_grotesquelight'; // light
$font_acherus_light_italic: 'acherus_grotesquelight_italic'; // light italic
$font_acherus_medium: 'acherus_grotesquemedium'; // medium
$font_acherus_medium_italic: 'acherus_grotesqueMdIt'; // medium italic
$font_acherus_regular: 'acherus_grotesqueregular'; // medium italic
$font_acherus_thin: 'acherus_grotesquethin'; // thin
$font_acherus_thin_italic: 'acherus_grotesquethin_italic'; // thin italic
$font_acherus_ultralight: 'acherus_grotesqueultralight'; // ultralight
$font_acherus_ultralight_italic: 'acherus_grotesqueultraLtIt'; // ultralight italic
$font_acherus_ultralight_italic: 'acherus_grotesqueultraLtIt'; // ultralight italic


// -----------------------
// font family DIN
// -----------------------
$font_family_din: din-2014, sans-serif;