/* ---------------------------------- Videos  -----------------------------
	------------------------------------------------------------------------------- */
	
.video{
	position:relative;
	padding-bottom:57.25%;
	height:0;
	overflow:hidden;
	max-width:100%;
	margin: 1rem 0 2rem;
	
	iframe{
		position:absolute;
	    top: 10%;
	    left: 10%;
	    width: 80%;
	    height: 80%;
	    border: 0;
	}
	
}